<%- include ../layouts/cabecera.ejs %>
<form method="post" action="/myapp" enctype="multipart/form-data">
    <div class="form-group">
        <label for="my-input">usuario:</label>
        <input id="my-input" class="form-control" type="text" name="user">
    </div>
    <div class="form-group">
        <label for="my-input">Password:</label>
        <input id="my-input" class="form-control" type="text" name="password">
    </div>
    <div class="form-group">
        <label for="my-input">Foto: </label>
        <input id="my-input" class="form-control-file" type="file" name="archivo">
    </div>
    <button class="btn btn-primary" type="submit">Guardar</button>   
</form>
<br/>
<br/>
<a href="/myapp" class="btn btn-primary" type="button">Atras</a>

<%- include ../layouts/pie.ejs %>